# IDE specific Files
.idea
.settings
.vscode
.csv
.log
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.debs

# Build files
build
cmake-build*
debug*

# Deb file
docker/executableImage/resources/NebulaStream*.deb
.Rproj.user

# Python virtual environment
venv

# Visual Studio Code Folders
.cache
.vscode
compile_commands.json
mlir_grammar.json